USE [Billing]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerMaster](
	[OwnerID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [varchar](max) NULL,
	[Owneraddress] [varchar](max) NULL,
	[OwnerPhone] [varchar](50) NULL,
	[Owner_tin_no] [varchar](50) NULL,
 CONSTRAINT [PK_Ownermaster] PRIMARY KEY CLUSTERED 
(
	[OwnerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OwnerMaster] ON
INSERT [dbo].[OwnerMaster] ([OwnerID], [OwnerName], [Owneraddress], [OwnerPhone], [Owner_tin_no]) VALUES (1, N'Ramdev Sales Corporation', N'F-45, Gunatit Park, Behind T.B. Hospital,Gotri Road, Vadodara', N'9327231248,0265-2323550', N'24190101232-24-9-05')
SET IDENTITY_INSERT [dbo].[OwnerMaster] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InwardProductMstr](
	[InwardProID] [int] IDENTITY(1,1) NOT NULL,
	[InwardID] [bigint] NULL,
	[ProductID] [bigint] NULL,
	[qty] [bigint] NULL,
 CONSTRAINT [PK_InwardProductMstr] PRIMARY KEY CLUSTERED 
(
	[InwardProID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InwardProductMstr] ON
INSERT [dbo].[InwardProductMstr] ([InwardProID], [InwardID], [ProductID], [qty]) VALUES (3, 3, 8901662024613, 72)
INSERT [dbo].[InwardProductMstr] ([InwardProID], [InwardID], [ProductID], [qty]) VALUES (4, 3, 8901662031031, 612)
INSERT [dbo].[InwardProductMstr] ([InwardProID], [InwardID], [ProductID], [qty]) VALUES (5, 3, 8901662028185, 108)
SET IDENTITY_INSERT [dbo].[InwardProductMstr] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InwardMstr](
	[InwardID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceNo] [varchar](max) NULL,
	[ChequeDate] [datetime] NULL,
	[ChequeNo] [varchar](50) NULL,
	[Billamt] [numeric](18, 2) NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_InwardMstr] PRIMARY KEY CLUSTERED 
(
	[InwardID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InwardMstr] ON
INSERT [dbo].[InwardMstr] ([InwardID], [InvoiceDate], [InvoiceNo], [ChequeDate], [ChequeNo], [Billamt], [CompanyID]) VALUES (3, CAST(0x0000A22100000000 AS DateTime), N'1', CAST(0x0000A23600000000 AS DateTime), N'865746', CAST(173086.00 AS Numeric(18, 2)), 3)
INSERT [dbo].[InwardMstr] ([InwardID], [InvoiceDate], [InvoiceNo], [ChequeDate], [ChequeNo], [Billamt], [CompanyID]) VALUES (4, CAST(0x0000A22100000000 AS DateTime), N'2', CAST(0x0000A23600000000 AS DateTime), N'865746', CAST(12268.00 AS Numeric(18, 2)), 3)
INSERT [dbo].[InwardMstr] ([InwardID], [InvoiceDate], [InvoiceNo], [ChequeDate], [ChequeNo], [Billamt], [CompanyID]) VALUES (5, CAST(0x0000A22100000000 AS DateTime), N'BARIN131400000728', CAST(0x0000A23600000000 AS DateTime), N'865746', CAST(53836.00 AS Numeric(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[InwardMstr] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[Mobno] [bigint] NULL,
	[Phno] [bigint] NULL,
	[VAT] [varchar](max) NULL,
	[SupplierDesc] [varchar](max) NULL,
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CompanyMaster] ON
INSERT [dbo].[CompanyMaster] ([CompanyID], [CompanyName], [Address], [Mobno], [Phno], [VAT], [SupplierDesc]) VALUES (1, N'Vasant', N'Jalod, Gujarat', 0, 0, N'5.00', NULL)
INSERT [dbo].[CompanyMaster] ([CompanyID], [CompanyName], [Address], [Mobno], [Phno], [VAT], [SupplierDesc]) VALUES (2, N'Talod', N'Talod,Gujarat', 0, 0, N'0.00', NULL)
INSERT [dbo].[CompanyMaster] ([CompanyID], [CompanyName], [Address], [Mobno], [Phno], [VAT], [SupplierDesc]) VALUES (3, N'Suhana', N'44, hadapsar Industrial Estate, Pune-411013', 0, 2026871686, N'5.00', N'Pravin Masalewale
C&F: Isha Enterprises
Salatwada, Vadodara')
SET IDENTITY_INSERT [dbo].[CompanyMaster] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProductMargin](
	[ClientproID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[ProductID] [bigint] NULL,
	[MarginInPer] [numeric](18, 2) NULL,
 CONSTRAINT [PK_ClientProductMargin] PRIMARY KEY CLUSTERED 
(
	[ClientproID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClientProductMargin] ON
INSERT [dbo].[ClientProductMargin] ([ClientproID], [ClientID], [ProductID], [MarginInPer]) VALUES (1, 1, 445588772266, CAST(30.00 AS Numeric(18, 2)))
INSERT [dbo].[ClientProductMargin] ([ClientproID], [ClientID], [ProductID], [MarginInPer]) VALUES (2, 1, 225544662255, CAST(30.00 AS Numeric(18, 2)))
INSERT [dbo].[ClientProductMargin] ([ClientproID], [ClientID], [ProductID], [MarginInPer]) VALUES (3, 1, 447755882211, CAST(30.00 AS Numeric(18, 2)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[ClientProductMargin] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMaster](
	[ClientID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](max) NULL,
	[On_Bill_desc] [varchar](max) NULL,
	[Contact_No] [bigint] NULL,
	[Address] [varchar](max) NULL,
	[TinNO] [varchar](50) NULL,
 CONSTRAINT [PK_ClientMaster] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClientMaster] ON
INSERT [dbo].[ClientMaster] ([ClientID], [ClientName], [On_Bill_desc], [Contact_No], [Address], [TinNO]) VALUES (1, N'D-mart VVn', N'Avenue Supermarts Ltd.
Vidya Nagar D-Mart,
Vidya Nagar, Anand.', 26962323550, N'VIDYA NAGAR STATION ROAD,
VIDYA NAGAR,
ANAND.', N'24073803635')
INSERT [dbo].[ClientMaster] ([ClientID], [ClientName], [On_Bill_desc], [Contact_No], [Address], [TinNO]) VALUES (2, N'D-Mart Vasna', N'Avenue Supermarts Ltd.
D-Mart Vasna Road,
Vadodara.', 0, N'Vadodara', N'24073803635')
INSERT [dbo].[ClientMaster] ([ClientID], [ClientName], [On_Bill_desc], [Contact_No], [Address], [TinNO]) VALUES (3, N'D-mart vaghodia', N'Avenue Supermarts Ltd.
D-Mart Vaghodia,
Vadodara.', 0, N'Vadodara', N'24073803635')
SET IDENTITY_INSERT [dbo].[ClientMaster] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillProductMaster](
	[Bill_Prod_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Bill_No] [bigint] NULL,
	[Bill_Run_Date] [datetime] NULL,
	[ProductID] [bigint] NULL,
	[Product_Qty] [int] NULL,
	[Product_total_Amt] [numeric](18, 2) NULL,
	[Free] [int] NULL,
	[Product_Per_rate] [numeric](18, 2) NULL,
 CONSTRAINT [PK_BillProductMaster] PRIMARY KEY CLUSTERED 
(
	[Bill_Prod_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillProductMaster] ON
INSERT [dbo].[BillProductMaster] ([Bill_Prod_ID], [Bill_No], [Bill_Run_Date], [ProductID], [Product_Qty], [Product_total_Amt], [Free], [Product_Per_rate]) VALUES (239, 1, CAST(0x0000A22100000000 AS DateTime), 8901662027010, 180, CAST(3000.60 AS Numeric(18, 2)), 0, CAST(16.67 AS Numeric(18, 2)))
INSERT [dbo].[BillProductMaster] ([Bill_Prod_ID], [Bill_No], [Bill_Run_Date], [ProductID], [Product_Qty], [Product_total_Amt], [Free], [Product_Per_rate]) VALUES (240, 1, CAST(0x0000A22100000000 AS DateTime), 8901662024569, 72, CAST(1200.24 AS Numeric(18, 2)), 0, CAST(16.67 AS Numeric(18, 2)))
INSERT [dbo].[BillProductMaster] ([Bill_Prod_ID], [Bill_No], [Bill_Run_Date], [ProductID], [Product_Qty], [Product_total_Amt], [Free], [Product_Per_rate]) VALUES (241, 1, CAST(0x0000A22100000000 AS DateTime), 8901662024606, 180, CAST(3000.60 AS Numeric(18, 2)), 0, CAST(16.67 AS Numeric(18, 2)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[BillProductMaster] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillMaster](
	[Bill_No] [bigint] NOT NULL,
	[Bill_Date] [datetime] NULL,
	[ClientID] [bigint] NULL,
	[PO_No] [varchar](50) NULL,
	[Bill_Amt] [numeric](18, 2) NULL,
	[Bill_vat_Amt] [numeric](18, 2) NULL,
	[Bill_Net_Amt] [numeric](18, 2) NULL,
 CONSTRAINT [PK_BillMaster] PRIMARY KEY CLUSTERED 
(
	[Bill_No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BillMaster] ([Bill_No], [Bill_Date], [ClientID], [PO_No], [Bill_Amt], [Bill_vat_Amt], [Bill_Net_Amt]) VALUES (1, CAST(0x0000A22100000000 AS DateTime), 2, N'4505183351', CAST(21821.64 AS Numeric(18, 2)), CAST(1091.08 AS Numeric(18, 2)), CAST(22912.72 AS Numeric(18, 2)))
INSERT [dbo].[BillMaster] ([Bill_No], [Bill_Date], [ClientID], [PO_No], [Bill_Amt], [Bill_vat_Amt], [Bill_Net_Amt]) VALUES (2, CAST(0x0000A22200000000 AS DateTime), 2, N'', CAST(1440.00 AS Numeric(18, 2)), CAST(72.00 AS Numeric(18, 2)), CAST(1512.00 AS Numeric(18, 2)))
INSERT [dbo].[BillMaster] ([Bill_No], [Bill_Date], [ClientID], [PO_No], [Bill_Amt], [Bill_vat_Amt], [Bill_Net_Amt]) VALUES (3, CAST(0x0000A22200000000 AS DateTime), 5, N'4505182838', CAST(5325.96 AS Numeric(18, 2)), CAST(266.30 AS Numeric(18, 2)), CAST(5592.26 AS Numeric(18, 2)))
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaster](
	[ProductID] [bigint] NOT NULL,
	[CompanyID] [bigint] NULL,
	[Product_barcode] [varchar](50) NULL,
	[Product_Name] [varchar](max) NULL,
	[Product_Price] [numeric](18, 2) NULL,
	[Product_Vat] [numeric](4, 2) NULL,
 CONSTRAINT [PK_ProductMaster] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ProductMaster] ([ProductID], [CompanyID], [Product_barcode], [Product_Name], [Product_Price], [Product_Vat]) VALUES (1111111111, 3, N'1111111111', N'SUHANA NONG VEG KOLHAPURI MIX 50G', CAST(35.00 AS Numeric(18, 2)), CAST(5.00 AS Numeric(4, 2)))
INSERT [dbo].[ProductMaster] ([ProductID], [CompanyID], [Product_barcode], [Product_Name], [Product_Price], [Product_Vat]) VALUES (447755882211, 1, N'447755882211', N'COURINDER-CUMIN-500GM', CAST(125.00 AS Numeric(18, 2)), CAST(5.00 AS Numeric(4, 2)))
INSERT [dbo].[ProductMaster] ([ProductID], [CompanyID], [Product_barcode], [Product_Name], [Product_Price], [Product_Vat]) VALUES (847250100031, 1, N'847250100031', N'VASANT STRONG HING 50GM', CAST(60.00 AS Numeric(18, 2)), CAST(5.00 AS Numeric(4, 2)))
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMaster](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Bill_No] [bigint] NOT NULL,
	[PaymentStatus] [varchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[ReceivedAmt] [numeric](18, 2) NULL,
 CONSTRAINT [PK_PaymentMaster] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentMaster] ON
INSERT [dbo].[PaymentMaster] ([PaymentID], [Bill_No], [PaymentStatus], [PaymentDate], [ReceivedAmt]) VALUES (1, 1, N'Paid', CAST(0x0000A22200000000 AS DateTime), CAST(22282.00 AS Numeric(18, 2)))
INSERT [dbo].[PaymentMaster] ([PaymentID], [Bill_No], [PaymentStatus], [PaymentDate], [ReceivedAmt]) VALUES (2, 20, N'Paid', CAST(0x0000A22E00000000 AS DateTime), CAST(17340.00 AS Numeric(18, 2)))
INSERT [dbo].[PaymentMaster] ([PaymentID], [Bill_No], [PaymentStatus], [PaymentDate], [ReceivedAmt]) VALUES (3, 21, N'Pending', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PaymentMaster] OFF
ALTER TABLE [dbo].[PaymentMaster]  WITH CHECK ADD  CONSTRAINT [FK_PaymentMaster_BillMaster] FOREIGN KEY([Bill_No])
REFERENCES [dbo].[BillMaster] ([Bill_No])
GO
ALTER TABLE [dbo].[PaymentMaster] CHECK CONSTRAINT [FK_PaymentMaster_BillMaster]
GO
